<nav class="navbar">
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">BLOG</a>
  <a [routerLink]="['/ventes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">VENTES</a>
</nav>