<h2>blog</h2>
<div class="blog">
    <div class="list">
        <div class="item" *ngFor="let article of articles">
            <a href="blog/{{ article.uri }}">
            <div class="image_container">
                <img src="{{ article.img}}" alt="">
            </div>
            <div class="container">
                <h3>{{ article.title }}</h3>
                <div class="content">
                    {{ article.content.substr(0,255) }}...
                </div>
                <div class="taxo">
                    #{{ article.taxo }}
                </div>
            </div>
            </a>
        </div>
    </div>
</div>