.navbar {
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px;
  box-shadow: 0 0 20px 0 #626262;
  z-index: 9999;
  position: relative;
  a {
    color: #8f8f8f;
    font-size: 19px;
    font-weight: 500;
    line-height: 48px;
    margin-right: 20px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    @media screen and (max-width: 689px){
      font-size: 15px;
    }

    &.router-link-active {
      color: $color;
    }
  }
}